<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imsert product</title>
</head>
<body>
    <form action="#">

    <div class="cycle">
        <label for="name">Cycle Name</label>
        <input type="text" name="cyle" id="cycle-name">
    </div>
    <div class="brand">
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="cycle-brand">
    </div>
    <div class="price">
        <label for="price">Price</label>
        <input type="text" name="price" id="cycle-price">
    </div>
    <div class="image-upload">
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="submit">
    </div>
      </form>

    </div>
    
</body>
</html>